<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">Legg til ny disiplin:</div>
        <div class="panel-body">
            <div>
                <div class="form-group ">
                    <label for="discipline_name">Navn:</label>
                    <input id="discipline_name" type="text" class="form-control" id="discipline_name"
                           placeholder="Navn">
                </div>
                <div id="category_selector_container" class="form-group ">
                    <!--Category selector is added her.-->
                </div>
                <div id="resultformat_selector_container" class="form-group ">
                    <!-- Resultformat selector is added her.-->
                </div>
                <div class="form-group">
                    <label for="discipline_description">Beskrivelse:</label>
                    <textarea id="discipline_description" class="form-control" rows="5"></textarea>
                </div>
                <div id="pictogram_selector_container" class="form-group">
                    <!-- Pictogram selector is added her.-->
                </div>
                <button id="add_discipline" class="btn btn-default">Lagre</button>
                <a href="#/disciplines" class="btn btn-default">Avbryt</a>
            </div>
        </div>
    </div>
</div>
