<ol class="breadcrumb">
    <li><a href="">Hjem</a></li>
    <li><a href="#disciplines">Disipliner</a></li>
    <li class="active"><%= discipline.name %></li>
</ol>

<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">Disiplin informasjon</div>
        <div class="panel-body">

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Navn:</label>

                    <div class="col-sm-10">
                        <p class="form-control-static"><%= discipline.name %></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Kategori:</label>

                    <div class="col-sm-10">
                        <p class="form-control-static"><%= formatCategory.formatCategory(discipline.category) %></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Resultatform:</label>

                    <div class="col-sm-10">
                        <p class="form-control-static">
                            <%= formatResultFormat.formatResultFormat(discipline.resultFormat) %></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Beskrivelse:</label>

                    <div class="col-sm-10">
                        <p class="form-control-static"><%= discipline.description %></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6 col-md-3">
                        <label>
                            <input class="form-control-static"/>
                            <img src="http://localhost:8080/resources/images/pictograms/<%= discipline.pictogram %>.png">
                        </label>
                    </div>
                </div>
            </div>
            <a href="#disciplines/edit/<%= discipline.id %>" class="btn btn-default">Rediger</a>
            <button id="delete_discipline" class="btn btn-default">Slett</button>
        </div>
    </div>
</div>