<div class="btn-group button-contests-category" data-toggle="buttons">
    <label class="btn btn-default active">
        <input type="radio" name="options" id="ALL" autocomplete="off"> ALLE
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="BALL" autocomplete="off"> BALL
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="ENDURANCE" autocomplete="off"> KONDISJON
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="TECHNIQUE" autocomplete="off"> TEKNIKK
    </label>
</div>

<div class="btn-group button-contests-year" data-toggle="buttons">
    <label class="btn btn-default">
        <input type="radio" name="options" id="ALL" autocomplete="off"> ALLE
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="2013" autocomplete="off"> 2013
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="2014" autocomplete="off"> 2014
    </label>
    <label class="btn btn-default active">
        <input type="radio" name="options" id="2015" autocomplete="off"> 2015
    </label>
</div>


<div class="btn-group button-contests-division" data-toggle="buttons">
    <label class="btn btn-default active">
        <input type="radio" name="options" id="ALL" autocomplete="off"> ALLE
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="MEN" autocomplete="off"> MEN
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="GENTLEMEN" autocomplete="off"> GENTLEMEN
    </label>
    <label class="btn btn-default">
        <input type="radio" name="options" id="WOMEN" autocomplete="off"> WOMEN
    </label>
</div>