<div class="col-md-6 col-md-offset-3">
    <form>
        <div class="form-group ">
            <label for="discipline_name">Navn:</label>
            <input id="discipline_name" type="text" class="form-control" id="discipline_name" placeholder="Navn">
        </div>
        <div class="form-group ">
            <label for="discipline_name">Kategori:</label>
            <div class="btn-group">
                <select id="discipline_category" class="form-control">
                    <option value="BALL">Ball</option>
                    <option value="ENDURANCE">Kondisjon</option>
                    <option value="TECHNIQUE">Teknikk</option>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label for="discipline_name">Resultatform:</label>
            <div class="btn-group">
                <select id='discipline_resultFormat' class="form-control">
                    <option value="INTEGER_INCREASING">Heltall (stigende)</option>
                    <option value="INTEGER_DECREASING">Heltall (synkende)</option>
                    <option value="DECIMAL_INCREASING">Desimaltall (stigende)</option>
                    <option value="DECIMAL_DECREASING">Desimaltall (synkende)</option>
                    <option value="TIME_INCREASING">Tid (stigende)</option>
                    <option value="TIME_DECREASING">Tid (synkende)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="discipline_name">Beskrivelse:</label>
            <textarea id="discipline_description" class="form-control" rows="5" ></textarea>
        </div>
        <div class="form-group">
            <label for="discipline_name">Piktogram:</label>
            <div class="row">
                <div class="col-xs-6 col-md-3">
                      <label>
                          <input type="radio" name="pictograms" value="BADMINTON"/>
                          <img onselect="onPiktogramSelect()" src="http://localhost:8080/resources/images/pictograms/BADMINTON.png">
                      </label>
                      <label>
                          <input type="radio" name="pictograms" value="BALLET"/>
                          <img onselect="onPiktogramSelect(value)" src="http://localhost:8080/resources/images/pictograms/BALLET.png">
                      </label>
                      <label>
                          <input type="radio" name="pictograms" value="BASKETBALL" />
                          <img onselect="onPiktogramSelect()" src="http://localhost:8080/resources/images/pictograms/BASKETBALL.png">
                      </label>
                    <!--  <label>
                          <input type="radio" name="fb" />
                          <img onselect="BOWLING" src="http://localhost:8080/resources/images/pictograms/BOWLING.png">
                      </label>
                      <label>
                          <input type="radio" name="fb" />
                          <img onselect="BOXING" src="http://localhost:8080/resources/images/pictograms/BOXING.png">
                      </label>
                      <label>
                          <input type="radio" name="fb" />
                          <img onselect="CRICKET" src="http://localhost:8080/resources/images/pictograms/CRICKET.png">
                      </label>
                      <label>
                          <input type="radio" name="fb" />
                          <img onselect="CYCLING" src="http://localhost:8080/resources/images/pictograms/CYCLING.png">
                      </label>
                      <label>
                          <input type="radio" name="fb" />
                          <img onselect="FOOTBALL" src="http://localhost:8080/resources/images/pictograms/FOOTBALL.png">
                      </label>
                      <label>
                          <input type="radio" name="fb" />
                          <img onselect="GOLF" src="http://localhost:8080/resources/images/pictograms/GOLF.png">
                      </label>
                      <label>
                          <input type="radio" name="fb" />
                          <img onselect="HOCKEY" src="http://localhost:8080/resources/images/pictograms/HOCKEY.png">
                      </label>
                      <label>
                          <input type="radio">
                              <img src="/resources/images/pictograms/POOL.png" alt="" title="">
                          </input>
                      </label>
                      <label>
                          <input id="pictogram13" name="pictogram" type="radio" value="RACING" class="inputHidden">
                          <img src="/resources/images/pictograms/RACING.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram14" name="pictogram" type="radio" value="RUGBY" class="inputHidden">
                          <img src="/resources/images/pictograms/RUGBY.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram15" name="pictogram" type="radio" value="SAILING" class="inputHidden">
                          <img src="/resources/images/pictograms/SAILING.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram16" name="pictogram" type="radio" value="SKATING" class="inputHidden">
                          <img src="/resources/images/pictograms/SKATING.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram17" name="pictogram" type="radio" value="SKIING" class="inputHidden">
                          <img src="/resources/images/pictograms/SKIING.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram18" name="pictogram" type="radio" value="SQUASH" class="inputHidden">
                          <img src="/resources/images/pictograms/SQUASH.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram19" name="pictogram" type="radio" value="SURF" class="inputHidden">
                          <img src="/resources/images/pictograms/SURF.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram20" name="pictogram" type="radio" value="SWIMMING" class="inputHidden">
                          <img src="/resources/images/pictograms/SWIMMING.png" alt="" title="">
                      </label>
                      <label>
                          <img src="/resources/images/pictograms/TENNIS.png" alt="" title="">
                          <input id="pictogram21" name="pictogram" type="radio" value="TENNIS" class="inputHidden">
                      </label>
                      <label>
                          <input id="pictogram22" name="pictogram" type="radio" value="GOCART" class="inputHidden">
                          <img src="/resources/images/pictograms/GOCART.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram23" name="pictogram" type="radio" value="VOLLEYBALL" class="inputHidden">
                          <img src="/resources/images/pictograms/VOLLEYBALL.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram24" name="pictogram" type="radio" value="WRESTLING" class="inputHidden">
                          <img src="/resources/images/pictograms/WRESTLING.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram25" name="pictogram" type="radio" value="SHOOTING" class="inputHidden">
                          <img src="/resources/images/pictograms/SHOOTING.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram26" name="pictogram" type="radio" value="MINIGOLF" class="inputHidden">
                          <img src="/resources/images/pictograms/MINIGOLF.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram27" name="pictogram" type="radio" value="DART" class="inputHidden">
                          <img src="/resources/images/pictograms/DART.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram28" name="pictogram" type="radio" value="BILLIARD" class="inputHidden">
                          <img src="/resources/images/pictograms/BILLIARD.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram29" name="pictogram" type="radio" value="CROSSCOUNTRY" class="inputHidden">
                          <img src="/resources/images/pictograms/CROSSCOUNTRY.png" alt="" title="">
                      </label>
                      <label>
                          <input id="pictogram30" name="pictogram" type="radio" value="ATHLETICS" class="inputHidden">
                          <img src="/resources/images/pictograms/ATHLETICS.png" alt="" title="">
                      </label>-->
                </div>

            </div>
        </div>
        <button id="submit" type="submit" class="btn btn-default">Lagre</button>
    </form>
</div>