<div class="row">

    <% _.each(contests, function(contest) { %>
        <div class="col-md-4" style="min-height: 220px;<% if (contest.over) { %> opacity: 0.4;<% } %>">
            
            <p class="lead text-center"><%= contest.discipline.name %></p>
              
            <div class="row">
                <div class="col-md-4">
                    <img src="http://localhost:8080/resources/images/pictograms/<%=contest.discipline.pictogram %>.png" alt="<%=contest.discipline.pictogram%>" title="<%=contest.discipline.pictogram %>" width="100%">
                </div>
                
                 <div class="col-md-8">

                    <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <%= getDate(contest.date) %> <p>

                    <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= getTime(contest.date) %><p>
                            
                    <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <%= contest.location %></p>

                    <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <%= getCategory(contest.discipline.category) %>, <%= getDivision(contest.division) %></p>
                </div>
            </div>
        </div>
    <% }); %>
</div>