<div class="masthead">
    <h3 class="text-muted">Mangekampen</h3>
    <nav>
        <ul class="nav nav-justified">
            <li><a class="button" href="#">Home</a></li>
            <li><a class="button" href="#">Hovedside</a></li>
            <li><a class="button" href="#">Informasjon</a></li>
            <li><a class="button" href="#">Påmelding</a></li>
            <li><a class="button" href="#contests">Øvelser</a></li>
            <li><a class="button" href="#">Rediger Øvelser</a></li>
            <li><a class="button" href="#disciplines">Disipliner</a></li>
            <li><a class="button" href="#contestants">Deltakere</a></li>
            <li><a class="button" href="#">Resultater</a></li>
        </ul>
    </nav>
</div>