<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mangekampen</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-left">
                <li><a class="button" href="#home">Hjem</a></li>
                <li><a class="button" href="#info">Informasjon</a></li>
                <li><a class="button" href="#">Påmelding</a></li>
                <li><a class="button" href="#contests">Øvelser</a></li>
                <li><a class="button" href="#">Rediger Øvelser</a></li>
                <li><a class="button" href="#disciplines">Disipliner</a></li>
                <li><a class="button" href="#contestants">Deltakere</a></li>
                <li><a class="button" href="#scoreboard">Resultater</a></li>
            </ul>

             <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Meg</a></li>
                <li><a href="#">Logg ut</a></li>
            </ul>
        </div>
    </div>
</nav>