<div class="table-responsive">
    <br><br><br>

    <div class="col-md-4 col-md-offset-4">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">

            <div class="btn-group" role="group">
                <button role="button" class="btn btn-primary button-filter" data-year="2013">2013</button>
            </div>
            <div class="btn-group" role="group">
                <button role="button" class="btn btn-primary button-filter" data-year="2014">2014</button>
            </div>
            <div class="btn-group" role="group">
                <button role="button" class="btn btn-primary button-filter" data-year="2015">2015</button>
            </div>

        </div>
    </div>
    <br><br><br>


    <div class="col-md-4 col-md-offset-4">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button role="button" class="btn btn-primary button-all">Alle</button>
            </div>
            <div class="btn-group" role="group">
                <button role="button" class="btn btn-primary button-filter" data-division="MEN">Gutt</button>
            </div>
            <div class="btn-group" role="group">
                <button role="button" class="btn btn-primary button-filter" data-division="GENTLEMEN">Menn</button>
            </div>
            <div class="btn-group" role="group">
                <button role="button" class="btn btn-primary button-filter" data-division="WOMEN">Jente</button>
            </div>
        </div>
    </div>
    <br><br><br>


    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Navn</th>
            <th>Snitt</th>
            <th>Antall</th>

        <% _.each(scoreboard.disciplines, function(discipline) { %>

            <% if (discipline.category === "ENDURANCE"){ %>
            <th bgcolor="#FF6699">
                <img src="http://localhost:8080/resources/images/pictograms/<%=discipline.pictogram %>.png" alt="<%=discipline.pictogram%>" title="<%=discipline.pictogram %>" width=35px></th>

            <% }else if (discipline.category === "TECHNIQUE"){ %>
            <th bgcolor="#99ff99"> <img src="http://localhost:8080/resources/images/pictograms/<%=discipline.pictogram %>.png" alt="<%=discipline.pictogram%>" title="<%=discipline.pictogram %>" width=35px></th>
            </th>

            <% } else { %>
            <th bgcolor="#99CCFF"> <img src="http://localhost:8080/resources/images/pictograms/<%=discipline.pictogram %>.png" alt="<%=discipline.pictogram%>" title="<%=discipline.pictogram %>" width=35px></th>
            </th>
            <% } %>


            <% }); %>

        </tr>
        </thead>


        <tbody>

        <% _.each(scoreboard.scoreRows, function(scoreboardRow) { %>
        <tr>
            <th><%= scoreboardRow.rank %></th>
            <th><%= scoreboardRow.contestant.fullName %></th>
            <th><%= parseFloat((scoreboardRow.finalScore).toFixed(2)) %></th>
            <th><%= scoreboardRow.count %></th>
            <th><%= scoreboardRow.participations[0].rank %></th>
            <th><%= scoreboardRow.participations[1].rank %></th>
            <th><%= scoreboardRow.participations[2].rank %></th>
            <th><%= scoreboardRow.participations[3].rank %></th>
            <th><%= scoreboardRow.participations[4].rank %></th>
            <th><%= scoreboardRow.participations[5].rank %></th>
            <th><%= scoreboardRow.participations[6].rank %></th>
            <th><%= scoreboardRow.participations[7].rank %></th>
            <th><%= scoreboardRow.participations[8].rank %></th>
            <th><%= scoreboardRow.participations[9].rank %></th>
            <th><%= scoreboardRow.participations[10].rank %></th>
            <th><%= scoreboardRow.participations[11].rank %></th>
            <th><%= scoreboardRow.participations[12].rank %></th>
            <th><%= scoreboardRow.participations[13].rank %></th>


            <% }); %>

        </tr>

        </tbody>
    </table>
</div>
</div>